<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votacion</title>
</head>

<body>

    <style>

        .container2{
            display: flex;
        }

        .cards{
            display: flex;
            flex-wrap: wrap;
            width: 1300px;
        }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        text-align: center;
        margin-right: 30px;
        margin-top: 20px;
    }

  .card p{
    font-size: 30px;
  }

  .cards .card img{
    height: 300px;
    object-fit: cover;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  /* Style the form element with a border around it */
form {
  border: 4px solid #f1f1f1;
  width: 450px;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit], input[type=email] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

select{
    padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.button{
  background-color: #04AA6D;
  color: white;
}

@media (max-width: 600px) {
    .container2{
        flex-direction: column-reverse;
    }

    form{
        width: 500px;
    }

    .cards{
        width: 550px;
    }

    .card{
        margin: auto;
        margin-top: 20px;
    }

}

@media (max-width: 400px) {
    .container2{
        flex-direction: column-reverse;
    }

    form{
        width: 330px;
    }

    .cards{
        width: 330px;
    }

    .card{
        margin: auto;
        margin-top: 20px;
    }

}
    </style>

    <h1 style="text-align: center; font-size: 25px; background-color: #04AA6D; color: white;  display: block; width: 100%;">#VOTA POR UNA VENEZUELA PROSPERA</h1>

    <h1>VOTOS TOTALES: <span>
            <%= votos %>
        </span></h1>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <div class="container2">

    <div class="cards">
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Maria_Corina_Machado2.jpg/1200px-Maria_Corina_Machado2.jpg" alt="John" style="width:100%">
            <h1>Maria Corina</h1>
            <p>Votos: <span class="votosMaria"></span></p>
        </div>
    
        <div class="card">
            <img src="https://curadas.com/wp-content/uploads/2021/01/Er-Conde-2.jpeg" alt="John" style="width:100%">
            <h1>Benjamin Rausseo</h1>
            <p>Votos: <span class="votosBenjamin"></span></p>
        </div>
    
        <div class="card">
            <img src="https://pbs.twimg.com/profile_images/1253171841348370439/fLveV1IQ_400x400.jpg" alt="John" style="width:100%">
            <h1>Juan Guido</h1>
            <p>Votos: <span class="votosJuan"></span></p>
        </div>
    
        <div class="card">
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/121001060647-venezuela-campaign-henrique-capriles-radonski.jpg?q=w_4256,h_2832,x_0,y_0,c_fill" alt="John" style="width:100%">
            <h1>Capriles Radonski</h1>
            <p>Votos: <span class="votosCapriles"></span></p>
        </div>
    </div>
    <form action="https://cuddly-succotash-production.up.railway.app/api" method="post">
        <div class="container">
          <h2>VOTA POR UNA VENEZUELA PROSPERA</h2>
        </div>
      
        <div class="container" style="background-color:white">
          <input type="text" placeholder="Nombre" name="nombre" required>
          <input type="text" placeholder="apellido" name="apellido" required>
          <input type="email" placeholder="Correo Electronico" name="correo" required>

          <label for="candidato">Candidatos</label>
          <select name="candidato">
            <option value="Maria Corina">Maria Corina</option>
            <option value="Benjamin Rausseo">Benjamin Rausseo</option>
            <option value="Juan Guido">Juan Guido</option>
            <option value="Capriles Radonski">Capriles Radonski</option>
          </select>
      
        <div class="container">
          <input type="submit" value="Enviar Voto" style="cursor: pointer;">
        </div>
        <a class="button" href="https://api.whatsapp.com/send?text=Vota%20por%20una%20Venezuela%20prospera%20en%20https://www.youtube.com/">Compartir por whatsapp</a>
      </form>
    </div>

    

    <script>
        let votosMaria = document.querySelector('.votosMaria');
        let votosBenjamin = document.querySelector('.votosBenjamin');
        let votosJuan = document.querySelector('.votosJuan');
        let votosCapriles = document.querySelector('.votosCapriles');

        fetch('https://cuddly-succotash-production.up.railway.app/api/maria')
            .then(response => response.json())
            .then(data => votosMaria.innerHTML = data)

            .catch(err => console.log(err))


        fetch('https://cuddly-succotash-production.up.railway.app/api/benjamin')
            .then(response => response.json())
            .then(data => votosBenjamin.innerHTML = data)

            .catch(err => console.log(err))


        fetch('https://cuddly-succotash-production.up.railway.app/api/guido')
            .then(response => response.json())
            .then(data => votosJuan.innerHTML = data)

            .catch(err => console.log(err))


        fetch('https://cuddly-succotash-production.up.railway.app/api/capriles')
            .then(response => response.json())
            .then(data => votosCapriles.innerHTML = data)

            .catch(err => console.log(err))



    </script>

</body>

</html>